/* Font weights
   Raleway Font
   300 Light, 400 Normal, 500 Medium, 700 Bold
*/

body {
  background-color: black;
  color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.main-info {
  text-align: right;
  margin-right: 20px;
}

#location {
  font-size: 20px;
  font-weight: 500;
}

#weather-parent {
  display: flex;
}

#weather {
  flex: 1;
}

#weather-info {
  text-align: center;
}

#weather-info span {
  font-size: 36px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
}

#weather-icon {
  height: 4rem;
  width: 4rem;
  text-align: center;
}

#bottom-main-info {
  text-align: right;
}

#date {
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 300;
  opacity: 0.60;
  font-size: 18px;
}

#time {
  margin-top: 2px;
  margin-right: 20px;
  font-weight: 300;
  opacity: 0.60;
  font-size: 18px;
}
